<div class="row">
  <aside class="span4">
    <%= render 'direct_messages/menu' %>
    <%= render 'shared/direct_message_form' %>
    <font size="5" color="#ff0000"><b>
    ↑direct messageしか送信できないように変更する
    </b></font>
  </aside>
 <div class="span8" style="background-color: #6f92c0;">
　 <font size="5" color="#ff0000"><b>
 　</b></font>
   <% @direct_messages.each do |dm| %>
     <% if dm.recipient_id == current_user.id && dm.sender_id == @user.id then %>
      <section>
       <h6><%= dm.sender.name %>@<%= dm.sender.user_name %>(<%= dm.sender.id %>)</h6>
       <h6 class="timestamp">
         Posted <%= time_ago_in_words(dm.created_at) %> ago.
       </h6>
       <div id="balloon">
        <div class="balloon_Box">
         <div class="left_image"><%= gravatar_for @user, size: 100 %></div>
         <div class="text1">
         <%= dm.content %>
         </div>
        </div>
       </div>
      </section>
     <% elsif dm.recipient_id == @user.id && dm.sender_id == current_user.id then %>
      <section>
        <h6 Align="right"><%= dm.sender.name %>@<%= dm.sender.user_name %>(<%= dm.sender.id %>)</h6>
        <h6 Align="right" class="timestamp">
          Posted <%= time_ago_in_words(dm.created_at) %> ago.
        </h6>
        <div id="balloon">
         <div class="balloon_Box">
          <div class="right_image"><%= gravatar_for current_user, size: 100 %></div>
          <div class="text2">
          <%= dm.content %>
         </div>
        </div>
       </div>
      </section>
     <% end %>
   <% end %>
 </div>
</div>